.pointerF{
     position: absolute;
    width: 244px;
    height: 447px;
    background-image: url(https://media.giphy.com/media/QLkSBdMQqJN4c/giphy.gif);
    background-size: 300px;
    top: 200px;
}


.Team1Display{
 left: 310px;
    font-size: 50px;
    position: fixed;
    width: 268px;
    height: 181px;
    background-color: red;
}


.Team2Display{
      font-size: 50px;
    position: absolute;
    width: 256px;
    height: 181px;
    background-color: blue;
    left: 1609px;
}






.Team1winner{
  position: absolute;
width: 100%;
height: 100%;
background-color: red;
color: black;
font-size: 150px;
color:white;

  }
.Team2winner{
  position: absolute;
width: 100%;
height: 100%;
background-color: blue;
color: black;
font-size: 150px;
color:white;


  }
}
.maingame {
    top: 252px;
    border: 2px solid blue;
    width: 4000px;
    height: 200px;
    position: absolute;
    background-image: url();
}
.outside-spinnper {
  position: absolute;
    background-color: gainsboro;
    display: inline-block;
    width: 300px;
    height: 200px;
    border: 3px solid grey;


  }
.randow-spin-btn{
  text-align: center;
  width: 75px;
  height: 75px;
  border: 3px solid grey;
      margin: auto;
}

.spinner{

width: 1000px;
height: 100px;
border: 0px solid grey;

}

.cell,.cell1, .cell2, .cell3{
  margin: 20px;
  text-align: center;
  display: inline-block;
border-radius: 100%;
width: 50px;
height: 50px;
border: 3px solid grey;
font-size: 47px;
}


.player1{
  width: 100px;
  height: 100px;
  background-image: url(http://static.tumblr.com/242076c3f9510155c32bb353fe3d2952/wvt5sv4/3F4nr6gwx/tumblr_static_bg92or8co0occ4gokcowkow0o.gif); ;
  background-size: 96px 98px;
}
.chBtn{
  margin: 20px;
  text-align: center;
  display: inline-block;
border-radius: 100%;
width: 50px;
height: 50px;
border: 3px solid #0052CF;
color: white;
background-color: blue;
box-shadow: 0px 0px 35px 11px #0052CF;

}



.Ran-Btn{
width:75px;
height:75px;
background-color:red;
font-size: 15px;

}



.letsPlayMain{
    position: fixed;
     width: 1870px;
    height: 1058px;
  background-image: url(http://i.imgur.com/HYK7xHF.gif);
  background-size: 1861px 1054px;
  border:none;
}

.letsPlay{
          position: absolute;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 1px solid;
    top: 250px;
    left: 800px;
    font-size: 70px;
    margin: 3px;
    box-shadow: 0px 0px 38px 8px;
    color: lemonchiffon;
         font-family: 'Poiret One', cursive;

}

.startBtn{
  border: 1px solid;
    width: 150px;
    height: 80px;
    background-color: darkslategrey;
    font-size: 30px;
    position: absolute;
    top: 148px;
    left: 70px;
    cursor: pointer;
    font-family: serif;

}

.titleOfGame{
     font-family: 'Poiret One', cursive;
    font-size: 173px;
    position: absolute;
    border: 0px solid;
    width: 1100px;
    height: 200px;
    top: 9px;
    left: 393px;
    color: lemonchiffon;
}


.myNameBox{

 text-align: center;
    border: none;
    width: 230px;
    height: 90px;
    position: absolute;
    top: 937px;
    left: 1584px;
    font-family: fantasy;
    font-size: 32px;
    color: darkslategrey;
}








.iconPickerMain{
  padding: 10px;
  position: fixed;
     width: 1870px;
    height: 1058px;
  background-image: url(https://lh3.googleusercontent.com/-RgyscEdz8Yg/VqxFdk_DENI/AAAAAAAHz3M/FEn2sIOysDg/w1920-h1080/6p4Bph5.gif);
  background-size: 1861px 1054px;
  border:none;

}

.iconHolder{
box-shadow: 0px 0px 30px 13px;
    background-color: rgba(191, 63, 63, 0.8);
    font-family: cursive;
    font-size: 34px;
    position: absolute;
    border: none;
    width: 1807px;
    height: 400px;
    top: 20px;
    left: 40px;
    color: lemonchiffon;
}


.IconBox{
   margin: 5px;
    background-color: cadetblue;
    display: inline-block;
    width: 431px;
    height: 270px;
    border: 2px solid;
    color: tan;
}
.fristIcon{
      background-color: darkslategray;
  background-image: url(http://static.tumblr.com/242076c3f9510155c32bb353fe3d2952/wvt5sv4/3F4nr6gwx/tumblr_static_bg92or8co0occ4gokcowkow0o.gif);
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;

}
.fristIcon:hover{
box-shadow: 0px 0px 38px 24px lightcyan;
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
    cursor: pointer;
}



.secondIcon{
      background-color: darkslategray;
background-image: url(http://i950.photobucket.com/albums/ad347/belch92/Dancing_Troll.gif);
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
}.secondIcon:hover{
box-shadow: 0px 0px 38px 24px lightcyan;
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
    cursor: pointer;
}


.Icon3{
      background-color: darkslategray;
   background-image: url(http://33.media.tumblr.com/2bc3aa7c35c66aadc6b32dd337e94a97/tumblr_npd34ypYaQ1qje999o1_400.gif);
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
}
.Icon3:hover{
box-shadow: 0px 0px 38px 24px lightcyan;
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
    cursor: pointer;
}

.Icon4{
      background-color: darkslategray;
  background-image: url(https://serendipitousthinking.files.wordpress.com/2014/10/tumblr_nbhom5dki71ts1zpko1_500.gif);
  background-size: 150px 150px;
      width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
}
.Icon4:hover{
box-shadow: 0px 0px 38px 24px lightcyan;
  background-size: 150px 150px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    color: tan;
    cursor: pointer;
}
.iconNameHolder{
  top: 4px;
    position: relative;
    width: 245px;
    height: 59px;
    left: 171px;
    border: 2px solid;
    text-align: center;
}

.clickIcon{
     border: 2px solid lemonchiffon;
    box-shadow: 0px 0px 45px 21px lemonchiffon;
}
.clickIcon:hover{
      border: 2px solid lemonchiffon;
    box-shadow: 0px 0px 45px 21px lemonchiffon;
}


.zoomIcon1{
  position: relative;
    background-size: 1600px;
    width: 1600px;
    height: 990px;
    border: none;
    background-image: url(http://static.tumblr.com/242076c3f9510155c32bb353fe3d2952/wvt5sv4/3F4nr6gwx/tumblr_static_bg92or8co0occ4gokcowkow0o.gif);
}

.zoomIcon1Finish{
background-image: url(http://static.tumblr.com/242076c3f9510155c32bb353fe3d2952/wvt5sv4/3F4nr6gwx/tumblr_static_bg92or8co0occ4gokcowkow0o.gif);
position: relative;
    background-size: 1800px;
        background-repeat: no-repeat;

}
.zoomIcon2{
  position: relative;
    background-size: 1111px;
    width: 1300px;
    height: 1045px;
    border:none;
    background-image: url(http://i950.photobucket.com/albums/ad347/belch92/Dancing_Troll.gif);
    left: 211px;
}

.zoomIcon2Finish{
  background-image: url(http://i950.photobucket.com/albums/ad347/belch92/Dancing_Troll.gif);
  position: relative;
  background-size: 1111px;
      background-repeat: no-repeat;

}
.zoomIcon3{
      position: relative;
    background-size: 1111px;
    width: 1300px;
    height: 1045px;
    border: none;
    background-image: url(http://33.media.tumblr.com/2bc3aa7c35c66aadc6b32dd337e94a97/tumblr_npd34ypYaQ1qje999o1_400.gif);
    left: 500px;
}
.zoomIcon3Finish{
background-image: url(http://33.media.tumblr.com/2bc3aa7c35c66aadc6b32dd337e94a97/tumblr_npd34ypYaQ1qje999o1_400.gif);
    position: relative;
    background-size: 1500px;
    background-repeat: no-repeat;
}
.zoomIcon4{
      position: relative;
    background-size: 1600px;
    width: 1600px;
    height: 1027px;
    border: none;
    background-image: url(https://serendipitousthinking.files.wordpress.com/2014/10/tumblr_nbhom5dki71ts1zpko1_500.gif);
    left: 211px;
}
.zoomIcon4Finish{
background-image: url(https://serendipitousthinking.files.wordpress.com/2014/10/tumblr_nbhom5dki71ts1zpko1_500.gif);
position: relative;
    background-size: 1800px;
        background-repeat: no-repeat;


}

.question1 {
       top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}

.answer1 {
    font-size: 18px;
    display: inline-block;
    margin: 7px;
    width: 200px;
    height: 58px;
    border: 1px solid blue;
}

.answer2 {
    font-size: 18px;
    display: inline-block;
    margin: 7px;
    width: 200px;
    height: 58px;
    border: 1px solid blue;
}

.answer3 {
    font-size: 18px;
    display: inline-block;
    margin: 7px;
    width: 200px;
    height: 58px;
    border: 1px solid blue;
}

.question2 {
      top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}


.question3 {
       top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}


.question4 {
      top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}

.question5 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}

.question6{
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question7{
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question8 {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question9 {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question10 {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question11 {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px; top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question12 {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question13 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question14 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question15 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question16 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question17 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question18 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question19 {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question20 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question21 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}
.question22 {
     top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: teal;
    padding: 12px;
    text-align: center;
    font-size: 39px;
    left: 581px;
}



.right {
    top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: green;
    padding: 12px;
    text-align: center;
    font-size: 100px;
    left: 581px;
}

.wrong {

 top: 0px;
    position: absolute;
    width: 1000px;
    height: 159px;
    border: 1px solid black;
    background-color: red;
    padding: 12px;
    text-align: center;
    font-size: 100px;
    left: 581px;

}
.nextToGame{

position: relative;
    width: 100px;
    height: 100px;
    left: 867px;
    top: 310px;
}
